<%- include('partials/header'); %>

<div class="p-5 mb-4 bg-white rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Seu Espaço Pessoal de Anotações</h1>
        <p class="fs-4">Guarde suas ideias, organize seus pensamentos e nunca mais se esqueça de nada. Simples e eficiente.</p>
        <a href="/register" class="btn btn-primary btn-lg">Comece Agora</a>
        <a href="/login" class="btn btn-secondary btn-lg">Já tenho conta</a>
    </div>
</div>

<%- include('partials/footer'); %>